Source: mapcrafter
Section: Miscellaneous
Priority: extra
Maintainer: Moritz Hilscher <m0r13@mapcrafter.org>
Build-Depends: debhelper (>= 8.0.0), cmake, g++ (>= 4.4), libpng-dev, libjpeg-dev
Standards-Version: 3.9.3
Homepage: http://mapcrafter.org
Vcs-Git: https://github.com/mapcrafter/mapcrafter.git
Vcs-Browser: https://github.com/mapcrafter/mapcrafter

Package: mapcrafter
Architecture: any
Depends: libpng12-0, libjpeg-turbo8 | libjpeg-turbo | libjpeg8, libstdc++6
Description: High Performance Minecraft Map Renderer
 Mapcrafter is a high performance Minecraft map renderer written in C++.
